@{
    ViewBag.Title = "Confirm Email";
}
@*set base location to search for files*@
<base href="http://localhost:4135/Game/" target="_blank">
@*load resources needed by the page*@
<script type='text/javascript' src='js/jquery.js'></script>

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
