@{
    ViewBag.Title = "Forgot Password Confirmation";
}
@*set base location to search for files*@
<base href="http://localhost:4135/Game/" target="_blank">
@*load resources needed by the page*@
<script type='text/javascript' src='js/jquery.js'></script>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
