@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@*set base location to search for files*@
<base href="http://localhost:4135/Game/" target="_blank">
@*load resources needed by the page*@
<script type='text/javascript' src='js/jquery.js'></script>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

