@{
    ViewBag.Title = "About";
}
@*set base location to search for files*@
<base href="http://localhost:4135/Game/" target="_blank">
@*load resources needed by the page*@
<script type='text/javascript' src='js/jquery.js'></script>

<div class="jumbotron">
    <h1>Word Command</h1>
    <p class="lead">is a jquery / HTML 5 based game similar too <a href="http://my.ign.com/atari/missile-command">Missile Command</a> or <a href="http://www.game37.net/play_games/word_bombs">Word Bombs</a>.
    <p class="lead">To play, select your grade level and difficuly level, then click on the "Start" button and begin typing words that appear falling from top of the screen. There are several words that will appear at once. You need to choose the word you want to type first. To do that, simply type the first letter it starts with, and you will be automatically locked in on that word, until you finish typing it completely. Keep typing and try to keep your accuracy high.</p>
    <p class="lead">With time your keyboard typing skills will begin to improve.</p>
</div>
